body {
  background: #f5f5f5;
  font-family: "Courier New";
  margin: 50px 0;
  text-align: center;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid;
}

button {
  font-family: "Courier New";
}

.full-width-button {
  width: 100%;
}

.footer {
  font-size: 75%;
  color: #808080;
}

.footer a, .footer a:visited {
  color: #808080;
}

.footer a:hover {
  color: #ff0066;
}

.tools-container {
  max-width: 600px;
  margin: 0 auto;
}

.tools-container input[type=number] {
  padding: 0;
  max-width: 48px;
  margin: 0;
}

.tools-container input[type=color] {
  max-width: 50px;
  padding: 0;
  border: 0;
  margin: 0;
}

.tools-container table {
  margin: auto;
  width: 100%;
  text-align: left;
}
