$font-stack: "Arial", sans-serif;
$light: #ddd;
$dark: #333;
$muted: #999;
$primary: #ff0066;
$highlight: lighten($primary, 20);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $light;
  color: $dark;
  font-family: $font-stack;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid;
}

footer {
  padding: 1em;
  .credit {
    text-align: center;
  }

  a {
    text-decoration: underline;
  }

  a:hover {
    color: $primary;
    text-decoration: underline;
  }
}

header {
  padding: 1em 0;

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    display: flex;
    align-items: center;
  }

  .dark-mode-toggle {
    display: flex;
    align-items: center;

    .btn {
      margin-left: 3px;
      width: auto;
      height: auto;
      padding: 3px;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="color"] {
  background-color: inherit;
  color: inherit;
  border: 1px solid;
  box-sizing: border-box;
  height: 100%;
  max-width: 50px;
  position: relative;
}

input[type="number"] {
  background-color: inherit;
  text-align: center;
  color: inherit;
  border: 1px solid;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  max-width: 50px;
  -moz-appearance: textfield;
}

.btn {
  border: 1px solid;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  color: $primary;
}

.btn:active {
  background-color: $primary;
  color: $light;
}

.btn:disabled {
  background-color: $dark;
  color: $muted;
}

.container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2em;
}

.tools-grid {
  display: grid;
  width: 100%;
  max-width: 100%;
  margin: 1em 0;
  column-gap: 0.5em;
  row-gap: 0.2em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 25px 25px 25px;
  grid-template-areas:
    "brush-label . . canvas-label . . history-label drawing-label"
    "size-label size-input shape-buttons width-label width-select width-apply undo-button save-button"
    "color-label color-select color-picker height-label height-select height-apply redo-button clear-button";
}

.brush-label {
  grid-area: brush-label;
}

.canvas-label {
  grid-area: canvas-label;
}

.history-label {
  grid-area: history-label;
}

.drawing-label {
  grid-area: drawing-label;
}

.size-label {
  grid-area: size-label;
}

.size-input {
  grid-area: size-input;
}

.shape-buttons {
  grid-area: shape-buttons;
  display: flex;

  button {
    width: 50%;
  }
}

.width-label {
  grid-area: width-label;
}

.width-select {
  grid-area: width-select;
}

.width-apply {
  grid-area: width-apply;
}

.undo-button {
  grid-area: undo-button;
}

.save-button {
  grid-area: save-button;
}

.color-label {
  grid-area: color-label;
}

.color-select {
  grid-area: color-select;
}

.color-picker {
  grid-area: color-picker;
}

.height-label {
  grid-area: height-label;
}

.height-select {
  grid-area: height-select;
}

.height-apply {
  grid-area: height-apply;
}

.redo-button {
  grid-area: redo-button;
}

.clear-button {
  grid-area: clear-button;
}

.dark-mode {
  background-color: $dark;
  color: $light;
}
